<div class="animated fadeInUp">
    <div class="pt-5 pb-5">
        <form (ngSubmit)="login(form)"
              #form="ngForm"
              class="validate-form text-center mt-5">

            <h1 class="fs-1 fw-bolder mb-5">
                Login
            </h1>


            <div class="mb-3">
                <input class="bg-light fs-3" 
                       type="text" 
                       name="email" 
                       [(ngModel)]="user.email"
                       required
                       email
                       placeholder="Correo"
                       style="min-width: 400px; height: 50px;">
            </div>
            <span *ngIf="form.submitted && form.controls['email'].errors"
                    class="text-danger animated fadeIn">El correo es obligatorio</span>

            <div class="mb-3" data-validate = "Password is required">
                <input class="bg-light fs-3"
                       type="password" 
                       id='password'
                       name="password" 
                       [(ngModel)]="user.password"
                       required
                       minlength="6"
                       placeholder="Contraseña"
                       style="min-width: 400px; height: 50px;">
            </div>
            
            <span *ngIf="form.submitted && form.controls['password'].errors"
                    class="text-danger animated fadeIn">Al menos 6 letras
            </span>

            <div class="pt-1 pb-3">
                <div class="">
                    <input [(ngModel)]="rememberUser"
                           id="remember" type="checkbox" name="remember"
                           class="me-1"
                           (click)="addEmail()">
                    <label class="fw-bold" for="remember">
                        Recordar mi usuario
                    </label>
                </div>
            </div>

            <div class="mt-2">
                <button 
                    class="btn btn-outline-primary fw-bolder fs-3" 
                    type="submit"
                    style="min-width: 400px; height: 50px;">
                    Ingresar
                </button>
            </div>

        </form>
        </div>
</div>

