<div class="animated fadeInLeft">
    <h1 class="text-center">Enviar Formulario</h1>
    <div class="d-flex justify-content-center">
        <div class="row w-50">
            <div class="row">
                <select (change)="selectForm($event.target.value)" id="form-type" class="form-select">
                    <option selected>Seleccionar Formulario</option>
                    <option *ngFor="let route of approvalRoute" value="{{route.formTitle}}">{{route.formTitle}}</option>
                </select>
            </div>
            <div class="row my-3">
                <strong class="fs-2 text-center">{{template.title}}</strong>
            </div>
            <div class="row">
                <div *ngFor="let item of template.questions; let index = index" class="list-group-item">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <span class="text-danger" *ngIf="template.obligatory[index]" style="font-size: x-small;">La pregunta es obligatoria</span>
                                <h2 class="">{{item}}</h2>
                                <input (change)="form.answers[index] = $event.target.value" *ngIf="template.type[index] != 'select'" class="form-control"
                                    type="{{template.type[index]}}">
                                <select (change)="form.answers[index] = $event.target.value" *ngIf="template.type[index] == 'select'" class="form-select">
                                    <option *ngFor="let option of template.values[index]" value="{{option}}">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button [disabled]="!templateSelected" type="button" (click)="sendForm()" class="btn btn-info">Enviar</button>
            </div>
        </div>
    </div>


</div>