<div class="animated fadeInUp">
    <div *ngIf="formList.length == 0">
        <span class="fs-2 text-muted text-center">
            **No hay ningun formulario para mostrar**
        </span>
    </div>
    <div class="container mt-5">
        <table id="users-table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del formulario</th>
                    <th scope="col">Enviado de</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of formList; let index = index">
                    <th scope="row">{{index}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.sender}}</td>
                    <td>{{item.state}}</td>
                    <td>
                        <button class="btn color-dark-blue mx-2" 
                            (click) = openModalForm(index)
                            data-bs-toggle="modal" data-bs-target="#formModal">
                            Ver
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formSelected.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let element of formSelected.questions; let indexQuestion = index"
                    class="my-4">
                    <h5 class="bg-light fw-bold">{{element}}</h5>
                    <h6 class="text">{{formSelected.answers[indexQuestion]}}</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="markResponse(1)">Rechazar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="markResponse(2)">Aprobar</button>
            </div>
        </div>
    </div>
</div>
