<div class="animated fadeIn">
    <div class="pt-5 pb-5">
        <form (ngSubmit)="addUser(form)" #form="ngForm" class="validate-form mt-5">

            <div class="row text-center">
                <div class="col-md-12 col-lg-6">

                    <h1 class="fs-1 fw-bolder mb-5">
                        Agregar un nuevo usuario
                        <i class="user-icon fas fa-user-plus fa-7x"></i>
                    </h1>
                </div>

                <div class="col-md-12 col-lg-6">
                    <span *ngIf="form.submitted && form.controls['username'].errors" class="text-danger animated fadeIn">
                        El nombre de usuario es obligatorio
                    </span>
                    <div class="mb-3">
                        <input class="bg-light fs-4" type="text" name="username" [(ngModel)]="user.username" required username
                            placeholder="Nombre de usuario" style="min-width: 400px; height: 50px;">
                    </div>

                    <div class="mb-3 mx-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4 ps-0">
                                <input class="bg-light fs-4 mb-1" required disabled
                                placeholder="Tipo de Usuario:" style="width: 210px; height: 50px;">
                            </div>
                            <div class="col-4">
                                <select class="bg-light form-select"
                                    id = "user-type"
                                    (change) = "user.typeUser = $event.target.value"
                                    style="width: 190px; height: 50px;">
                                    <option value="usuario">Usuario</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <span *ngIf="form.submitted && form.controls['password'].errors"
                        class="text-danger animated fadeIn">
                        La contraseña debe contener al menos 6 caracteres
                    </span>
                    <div class="mb-3" data-validate="Password is required">
                        <input class="bg-light fs-4" type="password" id='password' name="password"
                            [(ngModel)]="user.password" required minlength="6" placeholder="Ingrese la contraseña"
                            style="min-width: 400px; height: 50px;">
                    </div>

                    <span *ngIf="(user.password != password2) && form.controls['password'].touched"
                        class="text-danger animated fadeIn">
                        La contraseña no coincide
                    </span>
                    <div class="mb-3" data-validate="Password is required">
                        <input class="bg-light fs-4" type="password" id='password-repit' name="password2" required
                            [(ngModel)] = "password2" minlength="6" placeholder="Ingrese la contraseña nuevamente" password2
                            style="min-width: 400px; height: 50px;">
                    </div>

                    <div class="mt-2">
                        <button class="btn btn-outline-primary fw-bolder fs-3" type="submit"
                            style="min-width: 400px; height: 50px;">
                            Crear Usuario
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>