<div class="fadeInRightBig">
    <div class="d-flex justify-content-center m-5">
        <div class="list-group w-75">
            <div class="list-group-item">
                <div class="fs-3 fw-bolder text-center">Crear Plantilla</div>
            </div>

            <div class="list-group-item">
                <div class="input mb-3 w-50">
                    <input type="text" 
                        class="form-control" 
                        placeholder="Titulo del formulario" 
                        required 
                        (change)="title = $event.target.value">
                </div>
                <button class="btn position-absolute top-50 start-100" title="Agregar Pregunta" (click)="addQuestion(0)">
                    <i class="fas fa-plus-circle fa-2x"></i></button>
            </div>
            <div *ngFor="let item of templateItems; let index = index" class="list-group-item">
                <div class="row">
                    <div class="col-11">
                        <div class="card" >
                            <div class="card-body">
                                <div class="input mb-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" 
                                            class="form-control" 
                                            placeholder="Pregunta"
                                            (change)="templateItems[index].question = $event.target.value" 
                                            required>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-select" (change)="templateItems[index].type = $event.target.value">
                                                <option value="text">Texto</option>
                                                <option value="date">Fecha</option>
                                                <option value="number">Numero</option>
                                                <option value="select">Lista de selección</option>
                                            </select>
                                            <div class="mt-1" *ngIf="templateItems[index].type == 'select'">
                                                <button title="agregar option" (click)="templateItems[index].values.push('')">
                                                    <i class="fas fa-plus"></i> Agregar opción
                                                </button>
                                                <div  *ngFor="let item of templateItems[index].values; let indexOption = index;" >
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <input
                                                            (change)="templateItems[index].values[indexOption] = $event.target.value"
                                                            class="form-control" 
                                                            placeholder="opción {{indexOption}}">
                                                        </div>
                                                        <div class="col-2">
                                                            <button (click)="templateItems[index].values.splice(indexOption, 1);"> 
                                                                <i class="fas fa-minus-circle"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" (change)="templateItems[index].obligatory = !templateItems[index].obligatory">
                                <label class="btn btn-outline-success" for="btncheck1">Obligatoria</label>
                            </div>
                        <button class="btn btn position-absolute start-100" title="Eliminar" (click)="removeQuestion(index)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn position-absolute top-50 start-100" title="Agregar Pregunta" (click)="addQuestion(index)">
                            <i class="fas fa-plus-circle fa-2x"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-group-item border-0">
                <button type="submit" class="w-100 btn btn-outline-primary" title="Guardar formulario" (click)="saveTemplate()">Guardar</button>
            </div>
        </div>
    </div>
</div>